body {
    background-color: #eee;
}

.section {
    text-align: center;
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
    padding: 40px;
    width: fit-content;
    min-width: 260px;
}

@media (max-width: 400px) {
    .section {
        max-width: 260px;
    }
}

.section h2 {
    color: #61a29f;
}

.header {
    display: flex;
    align-items: center;
    width: fit-content;
    /* margin: 0 auto; */
}

.header i {
    margin-right: 18px;
}

.header p {
    font-size: 20px;
    color: #ff1212;
}

.section-content ul {
    padding-left: 60px;
    text-align: start;
}

.section-content ul li {
    list-style: none;
    margin-bottom: 15px;
}

.additional-info {
    margin: 0;
    padding: 10px;
    margin-top: 20px;
    font-style: italic;
    background-color: red;
    color: white;
    /* Adjust the color as needed */
}

.sectionss ul {
    border-bottom: 1px solid #ccc;

}

.sectionss ul li:last-child {

    margin-bottom: 50px;
}

@media (min-width:400px) {
    .sectionss {
        display: flex;
        flex-wrap: wrap;
    }

    .sectionss ul {
        border-bottom: 1px solid #ccc;

    }

    .sectionss ul li:last-child {

        margin-bottom: 50px;
    }
}